* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0.8rem 0;
}

.intro p {
  font-size: 1.2rem;
  font-weight: lighter;
  width: 50%;
}

.guessing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

.guessing-form h1 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.guessing-form #numInput {
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.guessing-form #submitBtn {
  padding: 0.5rem;
}
